---
import Window from "@components/Window.astro";
import Layout from "../layouts/Layout.astro";
import Button from "@components/Button.astro";
import { getCollection } from "astro:content";
import stack from "@assets/icons/stack.png";
import PixelImg from "@components/PixelImg.astro";
import home from "@assets/icons/home.png";
import IconGrid from "@components/IconGrid.astro";
import profile from "@assets/icons/profile.png";
import filing from "@assets/icons/filing.png";
import speak from "@assets/icons/speak.png";

const projects = (await getCollection("work")).sort(
  (a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime()
);

const featured = projects.filter((project) => project.data.featured);
const unfeatured = projects.filter((project) => !project.data.featured);
---

<Layout
  title="Projects"
  description="Matt Kane's site that looks like it was built in 1991"
>
  <Window title="Projects" close="/desktop">
    <h1>
      <PixelImg src={home.src} width={28} height={25} alt="" /> Matt's home stack
      <PixelImg src={home.src} width={28} height={25} alt="" />
    </h1>
    <p>
      I build tools to help people create better websites. Find out more <a
        href="/about">about me</a
      >, or find me on <a href="https://github.com/ascorbic">GitHub</a> or <a
        href="https://bsky.app/profile/mk.gg">Bluesky</a
      >.
    </p>

    <h2>Projects</h2>
    <IconGrid>
      {
        [...featured, ...unfeatured].map((project) => (
          <Button
            title={project.data.title}
            icon={project.data.icon?.src ?? stack.src}
            link={`/projects/${project.id}`}
          />
        ))
      }
    </IconGrid>
  </Window>
</Layout>
<style>
  h1,
  h2 {
    font-family: var(--title-font);
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    text-align: center;
  }
  p {
    font-family: var(--body-font);
    font-size: 18px;
    text-align: center;
  }
  .about-me {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
  }

  a:link,
  a:visited {
    color: inherit;
  }

  p a {
    font-weight: bold;
  }
</style>
